<h1>Your results</h1>
<ul>
  <li>Your word: <%= @grid %></li>
  <li>Your word: <%= @word %></li>
  <li>Time Taken to answer: <%= @result[:time] %></li>
  <li>Your score: <%= @result[:score] %></li>
  <li>Message: <%= @result[:message] %></li>
</ul>
<h2><%= link_to "play again", new_path %></h2>
